@font-face
{
    font-family: 'icons';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/icons.woff') format('woff'), url('../fonts/icons.woff2') format('woff2');
}

@font-face
{
    font-family: 'TTInterfaces';
    font-weight: 200;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/TTInterfaces-ExtraLight.woff') format('woff'), url('../fonts/TTInterfaces-ExtraLight.woff2') format('woff2');
}

@font-face
{
    font-family: 'TTInterfaces';
    font-weight: 300;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/TTInterfaces-Light.woff') format('woff'), url('../fonts/TTInterfaces-Light.woff2') format('woff2');
}

@font-face
{
    font-family: 'TTInterfaces';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/TTInterfaces-Regular.woff') format('woff'), url('../fonts/TTInterfaces-Regular.woff2') format('woff2');
}

@font-face
{
    font-family: 'TTInterfaces';
    font-weight: 100;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/TTInterfaces-Thin.woff') format('woff'), url('../fonts/TTInterfaces-Thin.woff2') format('woff2');
}
@supports (-webkit-appearance:none)
{
}
