@charset 'UTF-8';

*
{
    font-family: Alumni Sans !important;
    line-height: 160%;
}

* h1
{
    font-size: 64px;
}

* h2
{
    font-size: 40px;
}

* h3
{
    font-size: 32px;
}

* h4
{
    font-size: 24px;
}

* h5
{
    font-size: 20px;
}

* h6
{
    font-size: 16px;
}

* p
{
    font-size: 20px;
}

body
{
    background: #fafaf7;
}

.header
{
    padding: 24px 0;

    border-bottom: 1px solid #f4ede5;
    background: #fafaf7;
}

.header__container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__logo
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    height: 24px;
}

.header__link
{
    color: #3f3630;
}

.startpage
{
    overflow: hidden;

    padding: 32px 0 120px;

    background-color: #f4ede5;
}

.startpage *
{
    position: relative;
    z-index: 1;
}

.startpage__container
{
    position: relative;
}

.startpage__subtitle
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    margin-bottom: 16px;

    color: #3f3630;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.startpage__subtitle span
{
    font-size: 128px;

    margin-bottom: -82px;

    color: #fafaf7;
}

.startpage__title
{
    margin-bottom: 16px;

    color: #3f3630;
}

.startpage__price
{
    display: inline-block;

    margin-bottom: 32px;
}

.startpage__pic
{
    position: absolute;
    z-index: 0;
    top: 35px;
    right: 111px;
}

.categories
{
    padding: 64px 0;
}

.categories__item
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    height: 240px;
    padding: 32px;

    border: 1px solid #f4ede5;

    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.categories__slider
{
    position: relative;

    margin-top: 64px;
}

.categories__slider .slick-slide
{
    margin: 0 16px;
}

.categories__slider .slick-list
{
    margin: 0 -16px;
}

.categories__slider .slick-arrow
{
    font-size: 17px;

    position: absolute;
}

.categories__slider .slick-arrow._next
{
    right: 0;
}

.categories__product
{
    margin-right: 32px;
    padding: 16px 62px;
}

.support
{
    padding: 32px 0;

    border-top: 1px solid #ebebeb;
}

.support__container
{
    padding: 24px var(--containerIndents);
}

.support__title
{
    margin-bottom: 12px !important;
}

.support__links
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 15px;
}

.support__links a
{
    font-size: 24px;

    color: #252421;
}

.support__links a:not(:last-child)
{
    margin-right: 32px;
    margin-bottom: 0;
}

.support__links br
{
    display: none;
}

.support__subtitle
{
    margin-bottom: 14px;
}

.support__field:not(:last-child)
{
    margin-bottom: 14px;
}

.support__checkbox
{
    margin-bottom: 24px;
}

.support__checkbox label::before
{
    border: 1px solid black;
}

.support__checkbox input:checked + label::before
{
    background-color: black;
}

.support__icons
{
    height: auto !important;
}

.support__icon
{
    font-size: 24px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 48px;
    height: 48px;

    color: #252421;
    border: 1px solid #252421;
    border-radius: 50%;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.support .inputsingle
{
    max-width: 320px;
}

.footer
{
    padding: 32px 0;

    border-top: 1px solid #252421;
}

.footer__list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 16px;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.footer__title
{
    font-size: 24px;
}

.footer__title:not(:last-child)
{
    margin-right: 16px;
}

.footer__link
{
    color: #3f3630;
}

.dropdown._open .dropdown__content
{
    margin: 14px 0 !important;
}

.dropdown._short .dropdown__content
{
    overflow-y: auto;

    max-height: 290px;
}

.dropdown._short .dropdown__content::-webkit-scrollbar-track
{
    width: 1px;
    height: 100px;
}

.dropdown__wrapper
{
    position: static !important;
}

.dropdown__title
{
    font-size: 24px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.dropdown__title span
{
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

.dropdown__title i.icon-arrow-down
{
    font-size: 12px;
}

.dropdown__item
{
    z-index: 1;

    padding: 8px 0;
}

.products__head
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.products__item
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.products__pic
{
    margin-right: 12px;
}

.products__pic img
{
    min-height: 75px;
    max-height: 75px;
}

.products__delete
{
    cursor: pointer;
}

.products__name
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.products__results
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.count__title
{
    font-size: 16px;

    margin-bottom: 24px;

    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
}

.count__field
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-height: 40px;
    max-height: 40px;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.count__calc
{
    font-size: 21px;

    min-width: 40px;
    min-height: inherit;
    max-height: inherit;
    padding-bottom: 2px;

    border: 1px solid rgba(37, 36, 33, .1);
}

.count__value
{
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;

    width: -webkit-fill-available;
    min-height: inherit;
    max-height: inherit;
    padding: 8px 0;

    text-align: center;

    border-top: 1px solid rgba(37, 36, 33, .1);
    border-bottom: 1px solid rgba(37, 36, 33, .1);
    background: none;
}

.count__value::-webkit-outer-spin-button,
.count__value::-webkit-inner-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

.title
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    color: #3f3630;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.title__subtitle
{
    font-size: 32px;

    margin-left: 24px;

    color: #3f3630;
}

.inputsingle
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.inputsingle__icon
{
    font-size: 12px;

    width: 24px;
    margin-left: -24px;
}

.inputsingle__input
{
    font-size: 24px;

    width: -webkit-fill-available;

    border-bottom: 1px solid #ebebeb;
    background-color: unset;
}

.inputsingle__input[placeholder]
{
    padding: 0 0 8px;

    color: rgba(37, 36, 33, .25);
}

.inputsingle__input:valid
{
    color: #252421;
    border-bottom: 1px solid #252421;
}

.inputsingle._error .inputsingle__input::-webkit-input-placeholder
{
    color: #ee2b00;
}

.inputsingle._error .inputsingle__input::-moz-placeholder
{
    color: #ee2b00;
}

.inputsingle._error .inputsingle__input:-ms-input-placeholder
{
    color: #ee2b00;
}

.inputsingle._error .inputsingle__input::-ms-input-placeholder
{
    color: #ee2b00;
}

.inputsingle._error .inputsingle__input::placeholder
{
    color: #ee2b00;
}

.inputsingle._error .inputsingle__input
{
    border-bottom: 1px solid  #ee2b00;
}

.inputsingle._error::after
{
    font-size: 10px;
    font-weight: 300;
    line-height: 15px;

    width: 100%;
    margin-top: 4px;

    content: 'Заполните данное поле, пожалуйста.';

    color: #ee2b00;
}

.checkbox
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    cursor: pointer;
}

.checkbox._error label,
.checkbox._error label p
{
    color: #fd4040 !important;
}

.checkbox._error label::before
{
    border: 1px solid #fd4040 !important;
}

.checkbox input
{
    display: none;
}

.checkbox label
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.checkbox label h5
{
    font-size: 16px;
}

.checkbox label::before
{
    font-family: icons !important;
    font-size: 6px;

    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;

    min-width: 18px;
    max-width: 18px;
    min-height: 18px;
    max-height: 18px;
    margin-right: 8px;

    content: '\e90c';
    -webkit-transition: .2s;
         -o-transition: .2s;
            transition: .2s;

    color: white;
    border: 1px solid #252421;
    border-radius: 50%;
    background-color: white;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.checkbox input:checked + label::before
{
    border: 1px solid #252421;
    background-color: #252421;
}

.slider__wrapper
{
    width: 100%;
}

.slider__list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slider__progress
{
    height: 2px;

    --progress: 0;
}

.slider__progress::before,
.slider__progress div
{
    width: var(--progress);
    height: 100%;

    content: '';
    -webkit-transition: .2s;
         -o-transition: .2s;
            transition: .2s;
}

.slider__toggle
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slider__toggle button
{
    z-index: 1;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slider__toggle ._prev
{
    margin-bottom: 2px;
}

.slider__toggle ._next
{
    margin-left: 16px;
}

.slider__dots
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 32px;
}

.slider__dots div,
.slider__dots li
{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;

    width: 8px;
    height: 8px;

    cursor: pointer;

    opacity: .25;
    border-radius: 50%;
    background-color: #252421;
}

.slider__dots div:not(:last-child),
.slider__dots li:not(:last-child)
{
    margin-right: 16px;
}

.slider__dots div._active,
.slider__dots div.slick-active,
.slider__dots li._active,
.slider__dots li.slick-active
{
    opacity: 1;
}

.slider__dots div button,
.slider__dots li button
{
    font-size: 0;
}

.product
{
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
        flex-direction: column;

    text-align: center;
    white-space: pre;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.product__pic
{
    margin-bottom: 47px;
}

.product__name
{
    margin-bottom: 4px;
}

.list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-right: calc(-1 * var(--indent));
    margin-bottom: calc(-1 * var(--indent));

    --count: 2;
    --indent: 32px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.list__item
{
    width: calc((100% - (var(--count) ) * var(--indent)) / var(--count));
    margin-right: var(--indent);
    margin-bottom: var(--indent);
}

.price
{
    font-size: 24px;
}

.price__old
{
    font-size: 32px;

    position: relative;
}

.price__old::after
{
    position: absolute;
    bottom: calc(50% - 1px);
    left: 0;

    width: 100%;
    height: 1px;

    content: '';

    background-color: #3f3630;
}

.price span:first-child
{
    margin-right: 16px;
}

.buttons__item:not(:last-child)
{
    margin-right: 32px;
}

.btn
{
    font-size: 24px;

    padding: 8px 24px;

    text-align: center;
}

.btn._light
{
    color: #3f3630;
    background-color: #fafaf7;
}

.btn._dark
{
    color: #f4ede5;
    background-color: #3f3630;
}

.burger
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 24px;
    height: 19px;

    cursor: pointer;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.burger::before,
.burger div,
.burger::after
{
    display: inline-block;

    width: 100%;
    height: 1px;

    content: '';
    -webkit-transition: .2s ease-in .2s;
         -o-transition: .2s ease-in .2s;
            transition: .2s ease-in .2s;

    background-color: #3f3630;
}

.burger._active::before,
.burger._active div,
.burger._active::after
{
    -webkit-transition: .2s;
         -o-transition: .2s;
            transition: .2s;
}

.burger._active::before
{
    -webkit-transform: translateY(9px) rotate(225deg);
        -ms-transform: translateY(9px) rotate(225deg);
            transform: translateY(9px) rotate(225deg);
}

.burger._active div
{
    width: 0;

    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

.burger._active::after
{
    -webkit-transform: translateY(-9px) rotate(135deg);
        -ms-transform: translateY(-9px) rotate(135deg);
            transform: translateY(-9px) rotate(135deg);
}

.pages
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.pages__list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.pages__item
{
    font-size: 20px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 38px;
    height: 38px;

    opacity: .25;
    border: 1px solid #3f3630;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.pages__item:not(:last-child)
{
    margin-right: 16px;
}

.pages__more
{
    font-size: 24px;

    color: #3f3630;
}

.pages ._active
{
    opacity: 1;
}

.menu
{
    position: fixed;
    z-index: 2;
    top: 0;
    left: -100vw;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: var(--containerWidth);
    height: 100%;
    margin: 0 auto;
    padding: 128px 0;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.menu__logo
{
    display: none;
}

.menu::before
{
    position: fixed;
    top: 0;
    right: 0;
    left: -100vw;

    width: 100%;
    height: 100%;

    content: '';
    -webkit-transition: .2s;
         -o-transition: .2s;
            transition: .2s;

    opacity: 0;
    background-color: #fafaf7;
}

.menu *
{
    position: relative;
}

.menu._active
{
    left: calc(50% - var(--containerWidth) / 2);

    -webkit-transition: .2s ease-in .2s;
         -o-transition: .2s ease-in .2s;
            transition: .2s ease-in .2s;
}

.menu._active::before
{
    left: 0;

    opacity: 1;
}

.menu__link
{
    font-size: 40px;
    line-height: 62px;

    color: #3f3630;
}

.menu__icons
{
    display: none;
}

.menu__icon
{
    display: none;
}

.menu__close
{
    font-size: 20px;

    position: absolute;
    z-index: 2;
    top: 130px;
    right: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 58px;
    height: 58px;

    color: #3f3630;
    border: 1px solid #3f3630;
    border-radius: 50%;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.menu__close i
{
    color: #3f3630;
}

.logo__pic
{
    height: 24px;
}

.icons
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    height: 24px;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.icons__item
{
    font-size: 24px;
}

.icons__item:not(:first-child)
{
    margin-left: 24px;
}

.dropdown
{
    position: relative;
}

.dropdown__title
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    cursor: pointer;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.dropdown__title span
{
    width: 100%;
}

.dropdown._open .dropdown__content
{
    margin-top: -1px;
}

.dropdown._open .dropdown__title i.icon-arrow-down
{
    -webkit-transform: scale(-1);
        -ms-transform: scale(-1);
            transform: scale(-1);
}

.dropdown__wrapper
{
    top: 100%;

    overflow: hidden;
}

.dropdown__content
{
    margin-top: -100vh;
}

.dropdown__item
{
    cursor: pointer;
}

.slick-arrow
{
    z-index: 1;
}

.slick-list
{
    overflow: hidden;
}

.slick-track
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.slick-dots
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
}

.slick-dots button
{
    font-size: 0;

    display: inline-block;

    width: 8px;
    height: 8px;

    opacity: .25;
    border-radius: 50%;
    background-color: #252421;
}

.slick-dots li
{
    line-height: 0;

    height: 0;
}

.slick-dots li:not(:last-child)
{
    margin-right: 16px;
}

.slick-active button
{
    opacity: 1;
}

input
{
    background: transparent;
}

*
{
    --containerWidth: 1216px;
}

.container,
div[class$='__container']
{
    max-width: calc(var(--containerWidth)  + 48px);
    margin: 0 auto;
    padding: 0 24px;
}

@-webkit-keyframes fade
{
    from
    {
        display: none;

        opacity: 0;
    }

    from
    {
        display: block;

        opacity: 1;
    }
}

@keyframes fade
{
    from
    {
        display: none;

        opacity: 0;
    }

    from
    {
        display: block;

        opacity: 1;
    }
}

.wrapper
{
    overflow: hidden;
}

.wrapper__row
{
    position: relative;
    left: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.wrapper section
{
    min-width: 100%;
}

section:not(.support)
{
    display: none;

    padding: 32px 0 64px;

    opacity: 0;
}

section:not(.support)._active
{
    display: block;

    -webkit-animation: fade 1s;
            animation: fade 1s;

    opacity: 1;
}

.information__subtitle
{
    font-size: 24px;
}

.information__subtitle:first-child
{
    margin-bottom: 0;
}

.information__order
{
    margin-bottom: 24px;
}

.information__email
{
    margin-bottom: 16px;
}

.information__contact
{
    margin-bottom: 16px;
}

.information__destination
{
    margin-bottom: 16px;
}

.information__destination .information__subtitle
{
    margin-bottom: 16px !important;
}

.information__btn
{
    border: 1px solid #3f3630;
}

.delivery
{
    padding-bottom: 24px;
}

.delivery__order
{
    margin-bottom: 24px;
}

.delivery__details
{
    margin-bottom: 24px;
}

.delivery__subtitle
{
    margin-bottom: 16px;
}

.delivery__methods
{
    margin-bottom: 24px;
}

.payment
{
    padding-bottom: 24px;
}

.payment__subtitle
{
    margin-bottom: 16px;
}

.payment__details
{
    margin-bottom: 24px;
}

.payment__discount
{
    margin-bottom: 24px;
}

.payment__form
{
    margin-bottom: 24px;
}

.payment__desc
{
    margin-bottom: 14px;
}

.payment .form__field
{
    margin-bottom: 16px;
}

.success
{
    padding: 32px 0 64px;
}

.success__title
{
    margin-bottom: 16px;

    -webkit-box-align: baseline !important;
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
}

.success__close
{
    font-size: 20px;

    display: none;
}

.success__text
{
    font-size: 20px;
    line-height: 31px;

    margin-bottom: 24px;
}

.success .products__results
{
    display: block;
}

.title__subtitle
{
    font-size: 24px;
}

h1[class$='__title']
{
    font-size: 40px;
}

h3[class$='__subtitle']
{
    font-size: 24px;
}

.information,
.delivery,
.payment
{
    --indent: 48px;
}

.information .data,
.delivery .data,
.payment .data
{
    float: left;

    width: 50%;
}

.information .order,
.delivery .order,
.payment .order
{
    float: right;

    width: 50%;
    padding-left: calc(var(--indent));
}

.information .order .dropdown__content,
.delivery .order .dropdown__content,
.payment .order .dropdown__content
{
    margin: 0 !important;
    padding-top: 0;
}

.details__item
{
    position: relative;

    padding-bottom: 8px;

    border-bottom: 1px solid #ebebeb;
}

.details__item:not(:last-child)
{
    margin-bottom: 8px;
}

.details__title
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 8px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.details__change
{
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    line-height: 38px;

    position: absolute;
    top: 0;
    right: 0;
}

.details__value
{
    font-size: 24px;
    font-weight: 300;

    width: 100%;

    resize: none;
    pointer-events: none;

    background-color: unset;
}

.details .details__item._error
{
    border-bottom: 1px solid #ff2b2b;
}

.details .details__item._error .details__title
{
    color: #ff2b2b;
}

.methods__item
{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;

    width: 100%;
    padding: 12px !important;

    border: 1px solid #3f3630;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.methods__item:not(:last-child)
{
    margin-bottom: 8px;
}

.methods__item._active
{
    color: #f4ede5;
    background-color: #3f3630;
}

.btn._continue,
.btn._return
{
    display: inline-block;

    width: -webkit-fit-content;
    width:    -moz-fit-content;
    width:         fit-content;
}

.btn._return
{
    margin-right: 24px;
    margin-bottom: 0;
}

.order
{
    margin-bottom: 24px;
}

.order.dropdown._open .dropdown__content
{
    margin: 0 !important;
}

.order__title
{
    display: none;
}

.order__price
{
    font-size: inherit !important;
    font-weight: inherit;

    width: -webkit-fit-content !important;
    width:    -moz-fit-content !important;
    width:         fit-content !important;
    margin-left: auto;
}

.order__content
{
    padding-top: 24px;
}

.order__list
{
    margin: 0 0 24px;
    padding-bottom: 24px;

    border-bottom: 1px solid #ebebeb;
}

.order__input
{
    margin-bottom: 16px;
}

.products__item
{
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.products__item:not(:last-child)
{
    margin-bottom: 24px;
}

.products__info
{
    margin-right: 12px;
}

.products__info span
{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.products__info h6:not(:last-child)
{
    margin-right: 12px;
}

.products__name
{
    font-size: 24px;
}

.products__size,
.products__quantity
{
    font-size: 16px;
}

.products__price
{
    font-size: 20px;

    width: -webkit-fit-content;
    width:    -moz-fit-content;
    width:         fit-content;
    margin-left: 32px;

    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.products__pic
{
    margin-right: 42px;
}

.products__pic img
{
    min-height: 128px;
    max-height: 128px;
}

.products__quantity
{
    white-space: nowrap;
}

.products__results
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    padding-top: 0;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.products__results h4
{
    font-size: 24px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.products__results h4:first-child
{
    margin-bottom: 8px;
}

.products__results h4:last-child
{
    margin-top: 16px;
    padding-top: 16px;

    border-top: 1px solid #f4ede5;
}

.address
{
    margin-bottom: 16px;
}

.address__step
{
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;

    opacity: .25;
    color: black;
}

.address__devider
{
    font-size: 13.5px;

    margin: 0 3px;

    opacity: .25;
    color: black;
}

.address ._active
{
    opacity: 1;
}

.destination__form
{
    display: grid;

    gap: 16px;
    grid-template-areas: 'name name name surname surname surname'    'country country country region region region'    'city city city city city city'    'street street street street street street'    'house house apartment apartment index index'    'checkbox checkbox checkbox checkbox checkbox checkbox';
}

.destination__form .dropdown__wrapper
{
    position: absolute !important;

    width: calc(100% + 16px);
    margin: 0 -16px;
    padding: 0 16px;

    background: #fafaf7;
}

.destination .name
{
    grid-area: name;
}

.destination .surname
{
    grid-area: surname;
}

.destination .country
{
    grid-area: country;
}

.destination .region
{
    grid-area: region;
}

.destination .city
{
    grid-area: city;
}

.destination .street
{
    grid-area: street;
}

.destination .home
{
    grid-area: home;
}

.destination .apartment
{
    grid-area: apartment;
}

.destination .index
{
    grid-area: index;
}

.destination .checkbox
{
    grid-area: checkbox;
}

.form__input,
.form__input[placeholder],
.form .dropdown__item
{
    font-size: 24px;
}

.form__field
{
    padding-bottom: 7px;

    border-bottom: 1px solid #f4ede5;
}

.form__field input
{
    width: 100%;
}

.form__field._error
{
    border-bottom: 1px solid #ff2b2b;
}

.price
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    white-space: nowrap;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.price__actual
{
    font-size: 24px;

    margin-right: 0 !important;
}

.price__old
{
    font-size: 16px;
}

.btn._light
{
    border: 1px solid #3f3630;
}

@media (min-width: 1366px)
{
    .success__text
    {
        font-size: 24px;
        line-height: 36px;
    }

    .success .products__item
    {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .success .products__price
    {
        margin-left: auto;
    }

    .success .order .dropdown__content
    {
        padding-top: 0;
    }
}

@media (max-width: 768px)
{
    * h1
    {
        font-size: 48px;
    }

    * h2
    {
        font-size: 32px;
    }

    * h3
    {
        font-size: 24px;
    }

    * h4
    {
        font-size: 20px;
    }

    * h5
    {
        font-size: 16px;
    }

    * h1
    {
        font-size: 32px;
    }

    .header
    {
        padding: 16px 0;
    }

    .header__logo
    {
        height: 16px;
    }

    .header__logo img
    {
        height: 16px;
    }

    .startpage
    {
        position: relative;

        padding: 32px 0 194px;
    }

    .startpage__container
    {
        position: static;
    }

    .startpage__subtitle
    {
        margin-bottom: 0;
    }

    .startpage__subtitle span
    {
        font-size: 93px;

        margin-bottom: 0;
    }

    .startpage__title
    {
        margin-bottom: 8px;
    }

    .startpage__title br
    {
        display: none;
    }

    .startpage__price
    {
        margin-bottom: 24px;
    }

    .startpage__pic
    {
        top: 55px;
        right: -192px;

        width: 384px;
    }

    .categories
    {
        padding: 24px 0;
    }

    .categories__list
    {
        --count: 1;
        --indent: 24px;
    }

    .categories__item
    {
        height: 120px;
        padding: 24px;
    }

    .categories__slider
    {
        margin-top: 48px;
    }

    .categories__product
    {
        border: 1px solid #f4ede5;
    }

    .support__title
    {
        font-size: 32px;

        margin-bottom: 0 !important;
    }

    .support__links a:not(:last-child)
    {
        margin-right: 16px;
    }

    .support .inputsingle
    {
        max-width: unset;
    }

    .products__pic img
    {
        min-height: 96px;
        max-height: 96px;
    }

    .product__name
    {
        font-size: 24px;
    }

    .product__price
    {
        font-size: 20px;
    }

    .menu
    {
        width: 320px;
        padding: 32px 16px;

        -webkit-transition: .2s;
             -o-transition: .2s;
                transition: .2s;

        background-color: #fafaf7;
    }

    .menu._active
    {
        left: 0;
    }

    .menu._active::before
    {
        display: none;
    }

    .menu__list
    {
        width: 100%;
    }

    .menu__item
    {
        width: 100%;
    }

    .menu__link
    {
        font-size: 24px;

        width: 100%;
    }

    .menu__link:not(:last-child)
    {
        margin-bottom: 16px;
    }

    .menu__icon
    {
        display: block;
    }

    .menu__logo
    {
        display: block;

        margin-bottom: 34px;
    }

    .menu__logo img
    {
        height: 16px;
    }

    .menu__icons
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        margin-bottom: 16px;
    }

    .menu__icon
    {
        font-size: 24px;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        width: 48px;
        height: 48px;
        margin-top: auto;

        color: #3f3630;
        border: 1px solid #3f3630;
        border-radius: 50%;

        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .menu__address
    {
        font-size: 14px;
        line-height: 21px;

        color: white;
    }

    .menu__close
    {
        font-size: 20px;

        top: 32px;
        right: 16px;

        width: 20px;
        height: 20px;

        color: #3f3630;
        border: 0;
    }

    .menu._active
    {
        -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .25);
                box-shadow: 2px 2px 2px rgba(0, 0, 0, .25);
    }

    .logo__pic
    {
        height: 20px;
    }

    .information
    {
        padding: 24px 0 !important;
    }

    .information__container
    {
            flex-direction: column;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }

    .information__title
    {
        margin-bottom: 24px;
    }

    .information__subtitle
    {
        margin-bottom: 24px;
    }

    .information__subtitle:first-child
    {
        margin-bottom: 24px;
    }

    h1[class$='__title']
    {
        font-size: 32px;
    }

    .information .order .dropdown__content,
    .delivery .order .dropdown__content,
    .payment .order .dropdown__content
    {
        margin-top: -100vh !important;
        padding-top: 0;
    }

    .information .data,
    .information .order,
    .delivery .data,
    .delivery .order,
    .payment .data,
    .payment .order
    {
        float: none;

        width: 100%;
        padding-left: 0;
    }

    .btn._continue,
    .btn._return
    {
        width: 100%;
    }

    .btn._continue:not(:last-child),
    .btn._return:not(:last-child)
    {
        margin-bottom: 16px;
    }

    .order__title
    {
        font-size: 24px;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        padding-bottom: 8px;

        border-bottom: 1px solid #ebebeb;
    }

    .order__title:not(:first-child)
    {
        margin-bottom: 32px;
    }

    .order__title i.icon-cart
    {
        margin-right: 12px;

        -ms-flex-item-align: center;
        align-self: center;
    }

    .order__title i.icon-arrow-down
    {
        margin-left: 16px;
    }

    .order__title i.icon-cart
    {
        font-size: 15px;
    }

    .order__list
    {
        margin: 24px 0;
    }

    .products__info
    {
        margin-right: auto;
    }

    .products__pic
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        width: 96px;
        margin-right: 24px;

        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .products__pic img
    {
        min-height: 96px;
        max-height: 96px;
    }
}

@media (max-width: 360px)
{
    .startpage
    {
        padding: 32px 0;
    }

    .startpage__subtitle
    {
        margin-bottom: 16px;
    }

    .startpage__subtitle span
    {
        font-size: 64px;
    }

    .startpage__price
    {
        font-size: 20px;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
            flex-direction: column;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }

    .startpage__buttons
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
            flex-direction: column;

        width: 100%;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }

    .startpage__buttons ._light
    {
        margin-right: 0;
        margin-bottom: 24px;
    }

    .startpage__buttons .btn
    {
        width: 100%;
    }

    .support
    {
        padding: 24px 0;
    }

    .products__pic
    {
        margin-right: 32px;
    }

    .products__pic img
    {
        min-width: 46px;
        min-height: 64px;
        max-height: 64px;
    }

    .products__name
    {
        font-size: 20px;
        line-height: 160%;
    }

    .slider__dots
    {
        margin-top: 24px;
    }

    .product__pic
    {
        height: 210px;
    }

    .price
    {
        font-size: 20px;
    }

    .price__actual
    {
        font-size: 20px;
    }

    .price__old
    {
        font-size: 12px;
    }

    .slick-dots
    {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .information__subtitle
    {
        margin-bottom: 16px;
    }

    .information__subtitle:first-child
    {
        margin-bottom: 16px;
    }

    .products__size,
    .products__quantity
    {
        font-size: 14px;
    }

    .products__pic img
    {
        min-height: 64px;
        max-height: 64px;
    }

    .destination__form
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
            flex-direction: column;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }

    .destination__form .dropdown__wrapper
    {
        position: relative !important;
    }

    .destination__form .dropdown._open .dropdown__content
    {
        margin: 16px 0 0 !important;
    }

    .destination__form .dropdown._open .dropdown__title
    {
        padding-bottom: 8px;

        border-bottom: 1px solid #3f3630;
    }

    .destination__item
    {
        width: 100%;
    }
}
@supports (-webkit-appearance:none)
{
}

@media (min-width: 1366px)
{
    @supports (-webkit-appearance:none)
    {
    }
}

@media (max-width: 768px)
{
    @supports (-webkit-appearance:none)
    {
    }
}

@media (max-width: 360px)
{
    @supports (-webkit-appearance:none)
    {
    }
}
